@model CABasicCRUD.Presentation.WebMvc.Models.Users.UserDetailsViewModel

@{
    ViewData["Title"] = "User";
}


<section class="mx-auto bg-white w-2/3 px-20 py-24 border-x border-gray-300 min-h-screen ">
    <h1 class="font-bold text-3xl text-gray-700">@Model.Name</h1>
    <p>@Model.Email</p>
</section>