@using CABasicCRUD.Domain.Posts
@model CABasicCRUD.Presentation.WebMvc.Models.Posts.PostListViewModel;

@{
    ViewData["Title"] = "Home";
}

<section class="flex items-center flex-col">
    <h1 class="font-bold text-3xl">Home</h1>

    <nav class="mt-8 flex items-center gap-4">
        <a href="/posts">
            <button class="bg-gray-800 text-white py-2 px-4 rounded-sm cursor-pointer text-sm">View posts</button>
        </a>

        <a href="/users">
            <button class="bg-gray-800 text-white py-2 px-4 rounded-sm cursor-pointer text-sm">View users</button>
        </a>
    </nav>

</section>