@{
    ViewData["Title"] = "Page Not Found";
}

<div class="w-screen h-screen flex items-center justify-center">
    <div class="flex flex-col gap-4 items-center">
        <h1 class="text-6xl">Something went wrong.</h1>
        <p>Please try again later.</p>
        <a asp-controller="Home" asp-action="Index" class="text-gray-600 font-bold">Go Home</a>
    </div>
</div>