@model CABasicCRUD.Presentation.WebMvc.Models.Auth.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-controller="Auth" asp-action="Register" method="post">
    <div>
        <label for="Name">Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label for="Email">Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label for="Password">Password</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit">Register</button>
</form>