@model CABasicCRUD.Presentation.WebMvc.Models.Posts.PostCreateViewModel
@{
    ViewData["Title"] = "Create Post";
}


<section class="mx-auto bg-white w-2/3 py-20 border-x border-gray-300 min-h-screen">

    <h1 class="text-3xl font-medium text-gray-700 my-10 text-center">Create Post</h1>

    <form asp-controller="Posts" asp-action="Create" method="post" class="flex flex-col gap-10 w-3/4 mx-auto">
        <div class="flex flex-col gap-1">
            <label for="Title" class="font-medium text-gray-500">Title</label>
            <input asp-for="Title" class="border border-gray-300 rounded-sm p-2" />
            <span asp-validation-for="Title" class="text-sm font-semibold text-red-600"></span>
        </div>

        <div class="flex flex-col gap-1">
            <label for="Content" class="font-medium text-gray-500">Content</label>
            <textarea asp-for="Content" class="border border-gray-300 rounded-sm p-2" rows="15"></textarea>
            <span asp-validation-for="Content" class="text-sm font-semibold text-red-600"></span>
        </div>

        <button type="submit" class="bg-gray-900 text-white py-3 px-4 rounded-sm cursor-pointer font-semibold text-sm">
            Create
        </button>
    </form>

</section>