@model CABasicCRUD.Presentation.WebMvc.Models.Posts.PostEditViewModel
@{
    ViewData["Title"] = "Edit Post";
}


<section class="d-flex py-5 align-items-center justify-content-center">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 420px;">
        <h1 class="h3 mb-4 text-center">Edit Post</h1>

        <form method="post">
            <div class="mb-3">
                <label for="Title" class="form-label">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label for="Content" class="form-label">Content</label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger small"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Save</button>
        </form>
    </div>
</section>