@using CABasicCRUD.Domain.Posts
@model CABasicCRUD.Presentation.WebMvc.Models.Posts.PostListViewModel;
@{
    ViewData["Title"] = "Posts";
}

<section class="mx-auto bg-white w-2/3 p-10 border-x border-gray-300">
    @* title and button *@
    <div class="flex gap-10 items-center pt-20">
        <h1 class="font-bold text-3xl">Posts</h1>

        <nav class="">
            <a href="/Posts/Create">
                <button class="bg-gray-800 text-white py-2 px-4 rounded-sm cursor-pointer text-sm">
                    Create new
                </button>
            </a>
        </nav>
    </div>

    @* filter form *@
    <form method="get" class="mt-10 flex items-center gap-2 text-sm w-full">
        <input asp-for="SearchTerm" placeholder="Search posts..." class="border border-gray-300 rounded-sm p-2 w-1/2" />

        <select asp-for="OrderBy" asp-items="Html.GetEnumSelectList<PostOrderBy>()"
                class="border border-gray-300 rounded-sm p-2" onchange="this.form.submit()"></select>

        <select asp-for="SortDirection" asp-items="Html.GetEnumSelectList<SortDirection>()"
                class="border border-gray-300 rounded-sm p-2" onchange="this.form.submit()"></select>

        <select asp-for="PageSize" class="border border-gray-300 rounded-sm p-2" onchange="this.form.submit()">
            <option value="10">10/page</option>
            <option value="20">20/page</option>
            <option value="30">30/page</option>
        </select>

        <div>
            <input asp-for="Page" value="1" type="hidden" />

            <input asp-for="PageSize" type="hidden" />

            <button type="submit" class="bg-gray-800 text-white py-2 px-4 rounded-sm cursor-pointer">Filter</button>
        </div>
    </form>

    @* list of posts *@
    <ul class="mt-10 w-3/4 flex flex-col gap-6">
        @foreach (var post in Model.Posts)
        {
            <li class="">
                <div class="flex items-start justify-between">
                    <a href="/posts/@post.Id">
                        <p class="text-gray-700 font-bold">@post.Title</p>
                        <p class="w-2/3">@post.ContentPreview</p>
                    </a>

                    <nav class="flex gap-4">
                        <a href="/posts/@post.Id/edit">
                            <button
                                class="bg-gray-100 px-2 py-1 text-gray-700 text-sm font-semibold rounded-sm cursor-pointer">
                                Edit
                            </button>
                        </a>
                        <a href="/posts/@post.Id/delete">
                            <button
                                class="bg-red-100 px-2 py-1 text-red-700 text-sm font-semibold rounded-sm cursor-pointer">
                                Delete
                            </button>
                        </a>
                    </nav>
                </div>
            </li>
        }
    </ul>
</section>